
@defaultColor: #5e5a97;

.clearfix {
  &::before,
  &::after {
    display: table;
    content: " ";
  }
  &::after { clear: both; }
}

.align-middle {
  display: inline-block;
  vertical-align: middle;
}

.table-middle {
  display: table-cell;
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.square(@size) {
  width: @size;
  height: @size;
}

.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}
