
.main-header {
  background-color: @defaultColor;
  &:extend(.clearfix all);
  a { color: #fff; }
  .logo {
    > span { padding: 5px 0; }
    img { height: 40px; }
  }
  > .navbar {
    @media (max-width: 767px) { margin-top: -50px; }
  }
  .navbar-custom-menu .dropdown {
    .dropdown-toggle {
      &:hover,
      &:focus {
        color: #fff;
        background-color: darken(@defaultColor, 10%);
      }
    }
    .dropdown-menu {
      border: none;
      background-color: @defaultColor;
      box-shadow: 0 10px 20px fade(#000, 20%);
      .user-header {
        height: auto;
        p { margin: 0; }
      }
    }
    &.open .dropdown-toggle {
      background-color: darken(@defaultColor, 10%);
    }
  }
}
