
.table {
  color: #76767b;
  > thead > tr > th {
    border: 0;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
    color: @defaultColor;
    text-transform: uppercase;
    &.date { width: 150px; }
    &.seedz { width: 120px; }
  }
  > tbody > tr > td {
    padding: 8px;
    border-top: 0;
    vertical-align: middle;
    img {
      &:extend(.img-responsive);
    }
    .productCart-img {
      width: 100px;
      text-align: center;
    }
    .productCart-img,
    .productCart-text {
      &:extend(.table-middle);
      .itemProduct-partner {
        display: block;
        margin-top: 5px;
        font-size: 12px;
        font-weight: 400;
        color: @defaultColor;
      }
    }
  }
  > tfoot > tr {
    &.total-available {
      color: #fff;
      font-size: 16px;
      line-height: normal;
      background-color: #91abb4;
      strong { margin-left: 15px; }
    }
    &.total-expired {
      color: #f66666;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.43;
      border: 1px solid fade(#e6ded9, 50%);
      span { margin-left: 15px; }
    }
    > td {
      text-align: right;
      padding: 15px 35px;
      text-transform: uppercase;
    }
  }

  + .table-style { margin: 80px 0 20px; }

  .resend {
    @media (max-width: 767px) { text-align: center; }
    .button {
      @media (min-width: 768px) { margin-top: 29px; }
    }
  }

  .coupon {
    td {
      padding: 15px;
      text-align: center;
      text-transform: uppercase;

      @media (min-width: 768px) {
        text-align: right;
        padding: 7px 5px 7px 25px;
        border: 1px solid #ececec;
        border-top: 0;
      }

      h4 {
        margin: 7px 0;
        display: none;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.57;
        color: @defaultColor;

        @media (min-width: 768px) {
          float: left;
          display: block;
        }
      }

      input {
        border: 0;
        outline: 0;
        height: 36px;
        font-size: 18px;
        color: @defaultColor;
        vertical-align: middle;
        background-color: transparent;

        @media (max-width: 767px) {
          width: 100%;
          text-align: center;
          margin-bottom: 10px;
        }

        &::-moz-placeholder { color: #606060; font-size: 16px; font-weight: 300; line-height: 1.25; }
        &::-ms-input-placeholder { color: #606060; font-size: 16px; font-weight: 300; line-height: 1.25; }
        &::-webkit-input-placeholder { color: #606060; font-size: 16px; font-weight: 300; line-height: 1.25; }
      }
    }
  }
  .table-options {
    text-align: center;
    > a {
      width: 28px;
      color: #fff;
      padding: 6px;
      line-height: 1;
      font-size: 15px;
      cursor: pointer;
      text-align: center;
      border-radius: 50%;
      border-bottom-right-radius: 0;
      &:extend(.align-middle);
      + a { margin-left: 5px; }
      &.orange { background-color: #f59e0d; }
      &.pink { background-color: #e7418f; }
      &.purple { background-color: #5e5a97; }
      &.yellow { background-color: #fdd81b; }
      &.green { background-color: #1bae8b; }
    }
  }
}

.react-bs-table-bordered { border: none; }

.frame {
  text-align: center;
}

.img-center {
  vertical-align: middle;
  display: inline-block;
  max-height: 25px;
  max-width: 160px;
}
